html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  gap: 2.4rem;
}

.grid img {
  /*Design the card */
  width: 200px;
  height: 300px;
  border: 5px solid rgb(225, 235, 240);
  background-color: transparent;
  perspective: 1000px;
}

.grid img.flip {
  /*flip the card*/
}

.popup {
  background: red;
  width: 200px;
  height: 200px;
  z-index: 20;
  position: fixed;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 23px;
}

.data span {
  color: rgb(206, 121, 11);
  font-size: 30px;
}
