html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto;
  gap: 2.4rem;
}

.grid img {
  /*Design the card */
  width: 15%;
  height: 30rem;
  border: 5px solid rgb(225, 235, 240);
  background-color: transparent;
  perspective: 100rem;
  position: relative;
  backface-visibility: hidden;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.grid img.flip {
  /*flip the card*/
  transform: rotateY(360deg);
  animation: fadeIn 0.8s;
  pointer-events: none;
}

.popup {
  background: #c4c0c0dd;
  width: 80%;
  height: 80%;
  z-index: 20;
  position: fixed;
  top: 10rem;
  left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.9rem;
  animation: fadeIn 0.8s;
}
.popup h2 {
  font-size: 5.4rem;
  margin-bottom: 3.2rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.popup button {
  padding: 1em 4em;
  text-transform: capitalize;
  font-size: 1.8rem;
  background-color: rgb(228, 91, 91);
  color: #fff;
  border: none;
  border-radius: 0.9rem;
  letter-spacing: 0.75px;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  font-size: 2.3rem;
}

.data span {
  color: rgb(206, 121, 11);
  font-size: 3rem;
}

@media (max-width: 800px) {
  .grid img {
    width: 20%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
