.box{
  display: flex;
  justify-content: center;
  width: 100%
}
.difficultybuttons {
    width: 20%;
    background-color: #F9D54F;
    color: #000;
    border-radius: 25px;
    min-height: 7.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 3.6em;
    margin: 0 1.2em 0;  
}
.difficultybuttons:nth-child(2n-1){
  transform: rotate(-10deg);
}
.difficultybuttons:nth-child(2){
  transform: rotate(10deg);
}
.difficultybuttons:hover{
  background-color: #FF5353;
  transform: rotate(0deg);
  font-size: 4em;
}
.difficultybuttons:active{
  transform: translateY(0.25em);
} 
@media only screen and (max-width: 600px) {
  .box{
    justify-content: space-evenly;
  }
  .difficultybuttons{
    width: 25%;
    margin: 0.8em 0 0.8em;
  }
} 