body {
  height: 100vh;
  background: linear-gradient(to top left, #4568dc, #b06ab3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
h1 {
  color: #fff;
  font-size: 5.2rem;
}
