@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: #121417;
}
.container {
  background: linear-gradient(#252d37, #181b1f);
  color: #959eac;
  width: 25%;
  margin: 0 auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2em;
  border-radius: 1em;
}
.hide {
  display: none;
}
.round {
  position: relative;
  border-radius: 50%;
  min-width: 1.25em;
  text-align: center;
  padding: 3.5%;
}
.icon {
  padding: 4%;
  width: 1.25em;
  background-color: #2b343f;
  margin-bottom: 8%;
}
.title {
  color: #ffffff;
  margin-bottom: 4%;
}
.content {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 5%;
}
.ratings {
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin-bottom: 8%;
}
.ratings li:nth-child(n) {
  display: inline-block;
  margin: 0 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #252d37;
}
.submit-btn {
  background-color: #fb7413;
  color: #ffffff;
  border: none;
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 2em;
  padding: 0.8em 0.8em;
  font-weight: 800;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
/* Hover and Active States */
.ratings li:nth-child(n):hover {
  background-color: #7c8798;
  color: #ffffff;
}
.ratings li:nth-child(n):active {
  background-color: #fb7413;
}
.submit-btn:hover {
  color: #fb7413;
  background-color: #ffffff;
}

/* Thank you state */
.thanks-container {
  text-align: center;
}
.thanks-image {
  margin: auto;
  margin-bottom: 8%;
}
.thanks-image img {
  width: 50%;
}
.rating-content {
  color: #fb7413;
  background-color: #2b3440;
  border-radius: 1em;
  width: 60%;
  margin: 0 auto 8% auto;
  padding: 1.5%;
}
