@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fffdfa;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #5d5f79;
}
